<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- 导入图标 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="readingWelcomeMain.css">
    <link rel="stylesheet" href="readingWelcomeNav.css">
    <link rel="stylesheet" href="readingWelcomeBox.css">
</head>
<style></style>
<body>
    <nav class="menu">
        <div class="actionsBar">
            <div>
                <button id="menuBtn" type="button">
                    <i class="fa-solid fa-list iconstyle"></i>
                </button>
                <h3 class="menuText">Hello!</h3>
            </div>
        </div>
        <ul class="optionsBar">
            <li class="menuItem">
                <a href="#" class="menuOption">
                    <i class="fa-solid fa-house iconstyle"></i>
                    <h5 class="menuText">主页</h5>
                </a>
            </li>
            <li class="menuBreak">
                <hr>
            </li>
            <li class="menuItem">
                <a href="#" class="menuOption" type="button">
                    <i class="fa-regular fa-user iconstyle"></i>
                    <h5 class="menuText">我的温馨小家</h5>
                </a>
            </li>

            <li class="menuItem">
                <a href="#" class="menuOption" type="button">
                    <i class="fa-solid fa-arrow-up iconstyle"></i>
                    <h5 class="menuText">回到顶部</h5>
                </a>
            </li>

            <li class="menuItem">
                <a href="#" class="menuOption" type="button">
                    <i class="fa-solid fa-plus iconstyle"></i>
                    <h5 class="menuText">添加页面</h5>
                </a>
            </li>
        </ul>
        <div class="about" id="about"></div>
        <div class="menuUser">
            <a href="#">
                <div>
                    <img src="../TextImage/baciWelcome.jpg" alt="">
                </div>
                <h5 class="Username menuText">Casaruma</h5>
                <p class="menuText">
                    <i class="fa-solid fa-arrow-right iconstyle"></i>
                </p>
            </a>
        </div>
        <div class="themeBar">
            <div>
                <button type="button">
                    <i class="fa-solid fa-share iconstyle"></i>
                </button>
            </div>
        </div>
    </nav>

    <div class="shell">
        <header>
            <div class="img"></div>
        </header>
        <div class="main">
            <main>
                <article>
                    <div class="multicol">
                        <h1> Choose an </h1>
                        <h1 class="titlespecial"> article</h1>
                        <h2> and enjoy your day!</h2>
                        <p>
                            Reading is a MARVELOUS journey that can lead us through time and space, exploring unknown
                            worlds. Each page of a book is a starting point of a story, and each book is a TREASURY of
                            wisdom. In the ocean of books, we can discover our interests and passions, broaden our
                            horizons and thoughts. Reading is not only about acquiring knowledge, but also a baptism and
                            enlightenment of the SOUL. It accompanies us through lonely moments, giving us strength and
                            courage to face life's challenges. Each time we flip through the pages, it is a SPIRITUAL
                            growth, and each book is a feast for the soul. Therefore, let us embrace reading, let books
                            become our CLOSEST COMPANIONS in life, guiding us towards a better future.
                        </p>
                    </div>
                </article>
            </main>

            <!-- 模块1 -->
            <div class="transition-div topmargin">
                -----&nbsp;&nbsp; About Economics &nbsp;&nbsp;-----
            </div>
            <div class="container">
                <div class="shell2">
                    <div class="box img1-1">
                        <!-- 图片在Boxcss文件以background加载 -->
                        <div class="boxtext">
                            <header>
                                <a href="../readingText/Text_globalwarming.html" class="boxtitle">Global warming <br> is
                                    coming for your
                                    house.<br>Who will foot the bill?</a>
                            </header>
                            <ul class="boxcontent">
                                <li>Global Warming</li>
                                <li>Housing</li>
                                <li>Economy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box img1-2">
                        <div class="boxtext">
                            <header>
                                <a href="readingWelcome.html" class="boxtitle">Why do the Japanese <br> love CDs?</a>
                            </header>
                            <ul class="boxcontent">
                                <li>CD Market</li>
                                <li>Japanese Economy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box img1-3">

                        <div class="boxtext">
                            <header>
                                <a href="readingWelcome.html" class="boxtitle">Amarketing victory for Nike <br> is a
                                    business
                                    win for Adidas</a>
                            </header>
                            <ul class="boxcontent">
                                <li>Marketing</li>
                                <li>Branding</li>
                                <li>Business Economics</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box img1-4">
                        <div class="boxtext">
                            <header>
                                <a href="readingWelcome.html" class="boxtitle">American shoppers are <br> the latest
                                    converts to <br> Aldi’s low prices</a>
                            </header>
                            <ul class="boxcontent">
                                <li>Aldi</li>
                                <li>Discount Grocery Stores</li>
                                <li>Market Expansion</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 模块2 -->
            <div class="transition-div">
                -----&nbsp;&nbsp; About Science &nbsp;&nbsp;-----
            </div>
            <div class="container">
                <div class="shell2">
                    <div class="box img2-1">
                        <div class="boxtext">
                            <header>
                                <a href="readingWelcome.html" class="boxtitle">The internet
                                    is worryingly <br> exposed to malicious attacks. <br> How to protect it?</a>
                            </header>
                            <ul class="boxcontent">
                                <li>Internet Security</li>
                                <li>Open Source Software</li>
                                <li>Artificial Intelligence</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box img2-2">
                        <div class="boxtext">
                            <header>
                                <a href="readingWelcome.html" class="boxtitle">What is screen time <br> doing to
                                    children?</a>
                            </header>
                            <ul class="boxcontent">
                                <li>Children's Mental Health</li>
                                <li>Smartphones</li>
                                <li>Social Media</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box img2-3">
                        <div class="boxtext">
                            <header>
                                <a href="readingWelcome.html" class="boxtitle">Aflexible patch could <br> help those
                                    with voice disorders <br>be heard once more</a>
                            </header>
                            <ul class="boxcontent">
                                <li>Voice Disorders</li>
                                <li>Patch Solutions</li>
                                <li>Machine Learning</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box img2-4">
                        <div class="boxtext">
                            <header>
                                <a href="readingWelcome.html" class="boxtitle">Tennis and Al oversight: <BR>Injustice is
                                    served</a>
                            </header>
                            <ul class="boxcontent">
                                <li>AI Supervision</li>
                                <li>Human Decision Making</li>
                                <li>Tennis</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 模块3 -->
            <div class="transition-div">
                -----&nbsp;&nbsp; About Psychology &nbsp;&nbsp;-----
            </div>
            <div class="container">
                <div class="shell2">
                    <div class="box img3-1">
                        <div class="boxtext">
                            <header>
                                <a href="readingWelcome.html" class="boxtitle">How to Be <br>Less Busy and More
                                    Happy</a>
                            </header>
                            <ul class="boxcontent">
                                <li>Busy</li>
                                <li>Happy</li>
                                <li>Positive Thoughts</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box img3-2">
                        <div class="boxtext">
                            <header>
                                <a href="readingWelcome.html" class="boxtitle">Do you want to <BR>receive more love?</a>
                            </header>
                            <ul class="boxcontent">
                                <li>Recognizing The Ego</li>
                                <li>Superego</li>
                                <li>Reducing Anxiety</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box img3-3">
                        <div class="boxtext">
                            <header>
                                <a href="readingWelcome.html" class="boxtitle">How to build a better life</a>
                            </header>
                            <ul class="boxcontent">
                                <li>Trauma</li>
                                <li>Growth</li>
                                <li>Acceptance of Self</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box img3-4">
                        <div class="boxtext">
                            <header>
                                <a href="readingWelcome.html" class="boxtitle">What We Get Wrong <BR> About
                                    Manifesting</a>
                            </header>
                            <ul class="boxcontent">
                                <li>Willingness</li>
                                <li>Subconsciousness</li>
                                <li>Achieving Goals</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="">
        <button class="continue-application">
            <div>
                <div class="pencil"></div>
                <div class="folder">
                    <div class="top">
                        <svg viewBox="0 0 24 27">
                            <path
                                d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z">
                            </path>
                        </svg>
                    </div>
                    <div class="paper"></div>
                </div>
            </div>
            <span id="moreBtn" class="morebtn">More Articles</span>
        </button>
    </a>

    <script src="readingWelcomeNav.js"></script>
    <script src="readingWelcomeMain.js"></script>
</body>
<script>

</script>
</html>