:root {
     /* 默认背景色 */
    --backColor: #fff;
    --borderline: #253250;
    /* 卡片 */
    --headerColor: #253250;
    /* 卡片 */
    --headerhover: #a7b1ce;

    /* 默认字体颜色 */
    --headerFont: #fff;
    /* 反差色 */
    --fontColor: #00283A;
    --mainColor: #8ea2c5;
    --bagColor: #8ea2c5;

    /* 个人信息 */
    --infoColor: #7b849f;
}



body {
    position: relative;
    margin: 0px;
    width: 100%;
    padding: 0px;
    font-size: 20px;
    letter-spacing: 2px;
    transition: .4s ease-in-out;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--headerFont);
    background-color: var(--bagColor);
}

a {
    transition: color .6s ease-in-out;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul>li {
    display: inline-block;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}



.init-margin {
    height: 20px;
}

.navigation {
    margin: -5px auto 0;
    width: 100%;
    background-color: transparent;
    height: 300px;
    border-radius: 20px;
    background-image: url("./an.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    color: #fff;
}

.navigation h1 {
    margin: 8px 0;
    font-size: 3.8rem;
    color: #fcfcfe;
    text-shadow: 0 1px 10px rgb(0 0 0 / 30%);
}

.navigation .buttom:hover {
    transform: scale(1.1);
    color: #fff;
}

.navigation>.nav-titleBox {
    margin-top: 18rem;
}

.nav-titleBox .buttom {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0px 35px 0 20px;
    border: 3px solid white;
    border-radius: 15px;
    cursor: pointer;
    transition: transform .3s ease;
    color: #fcfcfe;
    position: relative;
}

.nav-titleBox .buttom::after {
    position: absolute;
    right: 10px;
    top: 50%;
    content: '';
    width: 0px;
    height: 0px;
    border-top: 4px solid transparent;
    border-left: 8px solid #fff;
    border-bottom: 4px solid transparent;
    animation: bmove 1s infinite;
}

@keyframes bmove {
    0% {
        opacity: 1;
        transform: translateX(-8px) translateY(-50%);
    }

    100% {
        opacity: 0;
        transform: translateX(5px) translateY(-50%);
    }
}

/* 内容 */
.co-left {
    width: 35%;
    display: inline-block;
    height: 50px;
}

.co-right {
    width: 64%;
    display: inline-block;
    min-height: 50px;
}

.co {
    width: 70%;
    margin: 0 auto;
}

.carbox {
    background-color: var(--headerColor);
    border-radius: 12px;
    box-shadow: 0 2px 4px -2px rgb(0 0 0 / 15%);
}

.content-li {
    margin-right: 50px;
}

.time-tags {
    padding: 20px;
}

.content .me-card {
    width: fit-content;
    min-width: 300px;
    transform: translateY(-351px);
    height: 700px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid var(--headerColor);
    padding: 0px 30px;
}

/* 左边卡片位置固定 */
.me-card {
    position: fixed;
    top: 50%;
    left: 5%;
}

.mecar-title {
    margin-top: 40px;
}

.mecar-title .me-image {
    position: relative;
    display: inline-block;
}

.me-image>img {
    width: 100px;
    height: 100px;
    border: solid 3px #FCFCFE;
    border-radius: 50%;
    box-shadow: 0 2px 4px -2px rgb(0 0 0 / 15%);
}

.mecar-title .me-image>.status {
    font-size: 15px;
    height: 20px;
    width: 20px;
    box-shadow: 0 2px 4px -2px rgb(0 0 0 / 15%);
    border-radius: 50%;
    position: absolute;
    border: solid 3px #FCFCFE;
    right: 0px;
    bottom: 0px;
    background-color: var(--mainColor);
    overflow: hidden;
    color: #fff;
    transition: width .2s ease-in-out, visible .2s ease-in-out;
}

.mecar-title .me-image:hover .status {
    width: 100px;
    border-radius: 20px;
}

.mecar-title .me-image:hover .status i {
    width: 0%;
    visibility: hidden;
}

.mecar-title .me-image:hover .status i {
    width: 100%;
    visibility: visible;
}

.mecar-bottm>div {
    display: flex;
    justify-content: space-between;
    height: 25px;
    line-height: 25px;
}

.mecar-bottm .mecarbottm-key {
    font-weight: 500;
}

.mecar-bottm .mecarbottm-value {
    font-weight: 500;
    color: var(--infoColor);
}

.me-hover span {
    margin: 0 auto;
    display: block;
    font-size: 17px;
    border-right: .08em solid;
    /* 字符个数*2ch */
    width: 12ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(28, end), blink-caret .3s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
.me-card .button-box {
    display: flex; /* 将按钮容器设置为Flex容器 */
    justify-content: center; /* 水平居中对齐按钮 */
}

.me-card .button {
    display: inline-block; /* 将按钮设置为内联块元素 */
    margin: 0 10px; /* 调整按钮之间的间距 */
    border: none;
    height: 40px;
    line-height: 40px;
    width: 100px;
    color: var(--headerFont);
    border-radius: 50px;
    background: linear-gradient(-45deg, var(--mainColor) 50%, #fff 60%, var(--mainColor) 70%);
    background-size: 600% 100%;
    animation: shine 5s infinite;
    font-size: 18px; 
}


@keyframes shine {
    0% {
        background-position-x: 100%;
    }

    50% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: -100%;
    }
}
.calendar-wrapper {
    position: fixed;
    left: 73%; /* 50% 代表水平居中 */
    top: 83%; /* 50% 代表垂直居中 */
    transform: translate(-50%, -50%); /* 使其相对于自身宽度和高度居中 */
    z-index: 1;
  }
  
  .calendar {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: rgba(180, 210, 239, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .left, .right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .right {
    width: 48%;
    background-color: rgb(69, 101, 175);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    font-size: 17px;
  }
  
  .left {
    font-size: 17px;
    line-height: 10px;
    width: 58%;
    color: #154360;
    font-weight: bold;
  }
  
  #date {
    font-size: 17px;
    line-height: 1px;
    font-weight: bold;
  }
  .word-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 将内容对齐到左端 */
    justify-content: center;
    width: 130px;
    height: 120px;
    border-radius: 15px;
    padding: 10px; /* 添加内边距 */
    position:relative;
    top:15px;
    left:-10px;
  }

  .icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px; /* 增加两行之间的间距 */
  }

  .icon-container:last-child {
    margin-bottom: 0; /* 移除最后一个元素的下边距 */
  }

  .fa-pen {
    font-size: 20px; /* 调整图标大小 */
    color: rgb(203, 214, 247); /* 调整纸笔图标颜色为白色 */
    margin-right: 7px; /* 图标和文本之间的间距 */
  }

  .fa-star {
    font-size: 20px; /* 调整图标大小 */
    color: gold; /* 调整星星图标颜色 */
    margin-right: 7px; /* 图标和文本之间的间距 */
  }
  .star-count {
    font-size: 24px;
    font-weight: bold;
    color: gold;
    margin-left:8px;
  }
  .word-count {
    font-size: 24px;
    font-weight: bold;
    color: rgb(203, 214, 247);
    margin-left:8px;
  }

  .word-label {
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    margin-left:7px; /* 调整图标和文本之间的间距 */
  }
  
  
/* 虚线 */
.content .borderbotm {
    border-bottom: 1px dashed rgb(187, 185, 185);
    height: 0px;
    margin: 35px 0;
}

/* 虚线美化*/
.content-li>h3 {
    display: flex;
    align-items: center;
    color: var(--headerFont);
}

.content-li .borderbotm {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}
.heatmap-item {
    height: 20px;
    background-color: var(--heatmapColor);
    margin-bottom: 5px;
}
/* 置顶层 */
.zz {
    position: relative;
    z-index: 1;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; /* 设置栏的高度 */
  background-color: #6080c7;; /* 设置栏的背景颜色 */
  z-index: 1; /* 确保栏在其他内容上方显示 */
}

.post {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    width: 63%;
    height: 60px;
    left: 32%;
    position: relative;
    overflow: hidden;
    outline: 2px solid #154360;
    margin-bottom: 20px;
}

.post::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--arc-size, 30px);
    height: var(--arc-size, 30px);
    background-color: #154360;
    border-radius: 0 0 10px 0;
}

.post-title {
    color: #d77474;
    font-weight: bold;
    font-size: 18px;
    margin-left: 40px;
    line-height: 30px;
    position: absolute;
    top: 10px; /* 调整标题在伪元素内的垂直位置 */
    left: 10px; /* 调整标题在伪元素内的水平位置 */
    z-index: 1;
}








