<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/readingWelcomeNav.css">
    <title>论坛首页</title>
</head>
<body>
    
    <div class="navigation">
        <div class="nav-titleBox co zz">
            <!-- 占位符 -->
        </div>
    </div>
    <div class="search-container">
        <input type="text" class="search-box magnifying-glass" placeholder="  请输入搜索内容">
    </div>

    <div class="content">
        <div class="post">
            <h2>帖子标题 1</h2>
            <p>发帖人: 用户A</p>
        </div>
        <div class="post">
            <h2>帖子标题 2</h2>
            <p>发帖人: 用户B</p>
        </div>
        <div class="post">
            <h2>帖子标题 3</h2>
            <p>发帖人: 用户C</p>
        </div>
        <div class="post">
            <h2>帖子标题 4</h2>
            <p>发帖人: 用户D</p>
        </div>
        <div class="post">
            <h2>帖子标题 5</h2>
            <p>发帖人: 用户E</p>
        </div>
        <div class="post">
            <h2>帖子标题 6</h2>
            <p>发帖人: 用户F</p>
        </div>
        <div class="post">
            <h2>帖子标题 7</h2>
            <p>发帖人: 用户G</p>
        </div>
        <div class="post">
            <h2>帖子标题 8</h2>
            <p>发帖人: 用户H</p>
        </div>
        <div class="post">
            <h2>帖子标题 9</h2>
            <p>发帖人: 用户I</p>
        </div>
        <div class="post">
            <h2>帖子标题 10</h2>
            <p>发帖人: 用户J</p>
        </div>  
    </div>
    <div class="pagination" id="pagination">
        <button>&lt;</button> <!-- 左箭头图标 -->
        <button>&gt;</button> <!-- 右箭头图标 -->
    </div>
    <nav class="menu">
        <div class="actionsBar">
            <div>
                <button id="menuBtn" type="button">
                    <i class="fa-solid fa-list iconstyle"></i>
                </button>
                <h3 class="menuText">Hello!</h3>
            </div>
        </div>
        <ul class="optionsBar">
            <li class="menuItem">
                <a href="#" class="menuOption">
                    <i class="fa-solid fa-house iconstyle"></i>
                    <h5 class="menuText">主页</h5>
                </a>
            </li>
            <li class="menuBreak">
                <hr>
            </li>
            <li class="menuItem">
                <a href="#" class="menuOption" type="button">
                    <i class="fa-regular fa-user iconstyle"></i>
                    <h5 class="menuText">我的温馨小家</h5>
                </a>
            </li>
    
            <li class="menuItem">
                <a href="#" class="menuOption" type="button">
                    <i class="fa-solid fa-arrow-up iconstyle"></i>
                    <h5 class="menuText">回到顶部</h5>
                </a>
            </li>
        </ul>
        <div class="about" id="about"></div>
        <div class="menuUser">
            <a href="#">
                <div>
                    <img src="/GGraph/eevee.jpg" alt="">
                </div>
                <h5 class="Username menuText">Casaruma</h5>
                <p class="menuText">
                    <i class="fa-solid fa-arrow-right iconstyle"></i>
                </p>
            </a>
        </div>
        <div class="themeBar">
            <div>
                <button type="button">
                    <i class="fa-solid fa-share iconstyle"></i>
                </button>
            </div>
        </div>
    </nav>
</body>

</html>
<script type="text/javascript" src="../static/readingWelcomeNav.js"></script>
