<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <script src="https://kit.fontawesome.com/1a8c6dd550.js" crossorigin="anonymous"></script>
    <title>@Syntax Station Dev Register</title>
    <link rel="stylesheet" href="../static/word_book_choose.css">
</head>
<body>

<div class="header">
  <h2 class="logo">WordTongji</h2>
  <button class="search-button">首页</button>
  <button class="search-button">帮助</button>
  <div class="search-container">
    <input type="text" class="search-box magnifying-glass" placeholder="  请输入搜索内容">
  </div>
  <div style="float: right; margin-top: -50px; margin-right: 20px;">
    <img id="curimage"  src="../static/user.jpg" alt="img" class="user-avatar">
</div>
</div>
<div class="card-container">
    <div class="card cet4">
        <p class="card-text" data-text="-----CET4-----"></p>
    </div>
    <div class="card cet6">
        <p class="card-text" data-text="----CET6----"></p>
    </div>
    <div class="card toefl">
        <p class="card-text" data-text="----TOEFL----"></p>
    </div>
</div>
</body>
</html>