<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <script src="https://kit.fontawesome.com/1a8c6dd550.js" crossorigin="anonymous"></script>
    <title>@Syntax Station Dev Register</title>
    <link rel="stylesheet" href="../static/word_learning.css">
</head>
<body>

<div class="header">
  <h2 class="logo">WordTongji</h2>
  <button class="search-button">首页</button>
  <button class="search-button">帮助</button>
  <div class="search-container">
    <input type="text" class="search-box magnifying-glass" placeholder="  请输入搜索内容">
  </div>
  <div style="float: right; margin-top: -50px; margin-right: 20px;">
    <img id="curimage"  src="../static/user.jpg" alt="img" class="user-avatar">
</div>
<body>

    <div class="left-rectangle">
        <div class="circle" id="circle1"></div>
        <div class="circle" id="circle2"></div>
        <div class="circle" id="circle3"></div>
        <div class="centered-text">abandon</div>
    </div>
    <div class="right-rectangle">
        <div class="scrollable-text" style="display: none;">
            1.<span class="highlight">~ sb (to sth)</span>to leave sb, especially sb you are responsible for, with no intention of returning（不顾责任、义务等）<span class="highlight">离弃，遗弃，抛弃</span><br>
            <span class="example">• The baby had been abandoned by its mother.这个婴儿被母亲遗弃了。</span><br><br>
            2<span class="highlight"> sth (to sb/sth)</span>to leave a thing or place, especially because it is impossible or dangerous to stay SYN leave（不得已而）<span class="highlight">舍弃，丢弃，离开</span><br>
            <span class="example">• Snow forced many drivers to abandon their vehicles.大雪迫使许多驾驶者弃车步行。</span><br><br>
            3.to stop supporting or helping sb; to stop believing in sth停止（支持或帮助）；放弃（信念）</span><br>
            <span class="example">• By 1930 he had abandoned his Marxist principles.1930年时他已放弃了马克思主义信念。</span><br><br>
            4.to stop doing sth, especially before it is finished; to stop having sth<span class="highlight">中止；放弃；不再有</span><br>
            <span class="example">• She abandoned hope of any reconciliation.她对和解已不再抱有希望。</span><br><br>
            5.<span class="highlight">~ yourself to sth</span>(literary) to feel an emotion so strongly that you can feel nothing else<span class="highlight">陷入，沉湎于（某种情感）</span><br>
            <span class="example">• He abandoned himself to despair.他陷入绝望。</span>
        </div>
    </div>
    
    <a href="#" class="button button1" onclick="showText()">不认识</a>
    <a href="#" class="button button2" onclick="showText()">不熟</a>
    <a href="#" class="button button3" onclick="showText()">认识</a>
    
    <script>
        function showText() {
    var text = document.querySelector('.scrollable-text');
    if (text.style.display === 'none') {
        text.style.display = 'block';
    }
}
        const circle1 = document.getElementById('circle1');
        const circle2 = document.getElementById('circle2');
        const circle3 = document.getElementById('circle3');
    
        document.querySelector('.button1').addEventListener('click', function() {
            circle1.style.backgroundColor = '#11396E';
            circle2.style.backgroundColor = 'white';
            circle3.style.backgroundColor = 'white';
        });
    
        document.querySelector('.button2').addEventListener('click', function() {
            circle1.style.backgroundColor = '#11396E';
            circle2.style.backgroundColor = '#11396E';
            circle3.style.backgroundColor = 'white';
        });
    
        document.querySelector('.button3').addEventListener('click', function() {
            circle1.style.backgroundColor = '#11396E';
            circle2.style.backgroundColor = '#11396E';
            circle3.style.backgroundColor = '#11396E';
        });
    </script>